.start {
  text-decoration: none;
}

.start:visited {
  color: black;
}

.landing {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  height: 450px;
}

.dog {
  margin: auto;
  height: 220px;
  width: 230px;
}

p {
  font-family: sans-serif;
  font-weight: 700;
}

button {
  font-weight: 600;
  cursor: pointer;
}
